{# Header #}
{#
  /**
  * The header brackets and styling are added in the page.html.twig template
  **/
#}


<header class="header">
  <div class="container">
    <div class="col-xs-4">
      <img src="{{ base_path ~ directory }}/images/zeeto-site-logo-orange.png" alt="{{ 'Home'|t }}" width="200px" />
    </div>
    <div class="col-xs-8">
      {{ title_prefix }}
        <h2{{ title_attributes }}>
          Page Title or Navigation Section
          <a href="/{{ node_url }}">{{ label }}</a>
        </h2>
      {{ title_suffix }}
    </div>
  </div>
</header>