<div class="hidden-xs col-sm-12 dynamicHero">
  <div class="col-sm-6 col-md-7 dynImage">
    <div class="dynamic-image">{{ content.field_image_block }}</div>
  </div>
  <div class="col-sm-7 col-md-6 bgColor">
    <h1 class="headline page-headline">{{ content.field_page_headline }}</h1>
    <div class="testimonial">
      <div class="col-sm-5 col-md-4">
        <span class="testimonial-image">{{ content.field_testimonial_image }}</span>
      </div>
      <div class="col-sm-7 col-md-8">
        <span class="testimonial-heading">{{ content.field_testimonial_headline }}</span>
        <span class="testimonial-text">{{ content.field_testimonial_body_text }}</span>
      </div>
      {{ content.field_cta_button }}
    </div>
    <div>{{ content.field_fb_like_box	 }} </div>
  </div>
</div>